BilklPaymentWenFormPortal/Web References/Api/BillPaymentApiEndPoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UtilityCodse" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="tns:ApiResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponseOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UtilityCodse" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCustomerResult" type="tns:ApiResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUtility">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UtilityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UtilityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUtilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUtilityResult" type="tns:ApiResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conatactEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conatatPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="balance" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="createdBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateVendorResult" type="tns:ApiResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginUserResult" type="tns:ApiResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUtilitySoapIn">
    <wsdl:part name="parameters" element="tns:CreateUtility" />
  </wsdl:message>
  <wsdl:message name="CreateUtilitySoapOut">
    <wsdl:part name="parameters" element="tns:CreateUtilityResponse" />
  </wsdl:message>
  <wsdl:message name="CreateVendorSoapIn">
    <wsdl:part name="parameters" element="tns:CreateVendor" />
  </wsdl:message>
  <wsdl:message name="CreateVendorSoapOut">
    <wsdl:part name="parameters" element="tns:CreateVendorResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="BillPaymentApiEndPointSoap">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input message="tns:CreateCustomerSoapIn" />
      <wsdl:output message="tns:CreateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUtility">
      <wsdl:input message="tns:CreateUtilitySoapIn" />
      <wsdl:output message="tns:CreateUtilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateVendor">
      <wsdl:input message="tns:CreateVendorSoapIn" />
      <wsdl:output message="tns:CreateVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillPaymentApiEndPointSoap" type="tns:BillPaymentApiEndPointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUtility">
      <soap:operation soapAction="http://tempuri.org/CreateUtility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVendor">
      <soap:operation soapAction="http://tempuri.org/CreateVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillPaymentApiEndPointSoap12" type="tns:BillPaymentApiEndPointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="http://tempuri.org/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUtility">
      <soap12:operation soapAction="http://tempuri.org/CreateUtility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVendor">
      <soap12:operation soapAction="http://tempuri.org/CreateVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillPaymentApiEndPoint">
    <wsdl:port name="BillPaymentApiEndPointSoap" binding="tns:BillPaymentApiEndPointSoap">
      <soap:address location="https://localhost:44313/BillPaymentApiEndPoint.asmx" />
    </wsdl:port>
    <wsdl:port name="BillPaymentApiEndPointSoap12" binding="tns:BillPaymentApiEndPointSoap12">
      <soap12:address location="https://localhost:44313/BillPaymentApiEndPoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>